<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <div class="title">
        <h1>Typing Game</h1>
        <div class="marker"></div>
      </div>
      <button
        v-if="startFlg!=true"
        class="startButton mb-20"
        @click="gameStart"
      >
        START
      </button>
      <div v-if="startFlg">
        <div class="question mb-20">{{current_question}}</div>
        <div v-if="current_question_counts == question_counts" class="clear">
          Clear!
        </div>
        <div class="typeFormWrapper mb-20">
          <textarea
            v-model="typeBox"
            type="text"
            class="typeForm"
            autofocus
          ></textarea>
        </div>
        <div class="gaugeWrapper mb-20">
          <div v-bind:style="styleObject" class="gauge"></div>
        </div>
        <div>{{current_question_counts}}/{{question_counts}}</div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          startFlg: "",
          current_question: "",
          questions: [
            "クライアントとサーバー側の両方とも得意ですが、あえて言えばサーバー側のほうが得意です。そして、比率で言えば四対六でサーバー側のほうが得意です。",
            "スキルシートに記入した通り、JDK１１でMySQLサーバーはコミュニティー板のバージョン8.0.29を使用しました。JSPサーブレットのバージョンはジャカルタEE10を使用しました。",
            "JSPサーブレットプロジェクト会員、記事情報管理システムで、JavaScriptを使って、Webページやアプリケーションを介して、動的な要素や機能を作成しました。そして、jQueryを利用して、画面のイベント処理を行いました。",
            "JSPサーブレットプロジェクト、Vue.js、Spring Boot、PHP、react.js、node.js全体で、作成した画面数は８３です。",
            "画面側は、html、jsp、Vue.js、react.js、などのフロントエンドを作成したことがあり、サーバー側は、MVCパターンのjspサーブレットとフレーム系のSpringMVC、Spring Bootでミニプロジェクトを作成したので、フロント、バックエンドどちらでも経験があり自信があります。",
          ],
          typeBox: "",
          current_question_counts: 0,
          question_counts: 0,
        },

        computed: {
          styleObject: function () {
            width = 20 * this.current_question_counts + "%";
            if (this.current_question_counts == 5) {
              color = "#03a9f4";
            } else {
              color = "orange";
            }
            return {
              width: width,
              "background-color": color,
            };
          },
        },
        methods: {
          gameStart: function () {
            this.startFlg = true;
          },
        },
        mounted: function () {
          this.current_question = this.questions[0];
          this.question_counts = this.questions.length;
        },
        watch: {
          typeBox: function (e) {
            if (e == this.current_question) {
              this.questions.splice(0, 1);
              this.current_question = this.questions[0];
              this.typeBox = "";
              this.current_question_counts = this.current_question_counts + 1;
            }
          },
        },
      });
    </script>
  </body>
</html>
